@font-face {
  font-family: 'Poppins';
  src: url('./assets/sf-pro-display_regular.woff2');
  font-weight: 400;
  font-style: normal;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}

html,
body {
  height: 100%;
  width: 100%;
  
}

.nav_bar{
  height: 80px; 
  width: 100%;
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 250px;
}

.mainSec {
  min-height: 100vh;
  padding: 0 20px 20px 20px;
  display: flex;
  flex-direction: column;
  /* gap: 20px; */
}

.Banner {
  flex: 1; 
  width: 100%;
  background-image: url(./assets/man-playing-padel.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  border-radius: 12px;
  position: relative;
}

.icon {
  height: 90%;
  width: 220px;
  background-image: url("./assets/Screenshot\ 2026-02-07\ 154053.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.nav_buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-left: 50px; */
  gap: 100px;
}

.nav_buttons a {
  text-decoration: none;
  color: black;
}
.nav_buttons button {
  background: none;
  border-radius: 50px;
  height: 30px;
  width: 90px;
  border: 1px solid black;
}

.nav_buttons .book-now-button {
  background-color: black;
}

.book-now-button {
  box-sizing: content-box;
  padding-left: 20px;
  padding-right: 12px;
  font-size: 14px;
  color: white;
  border: none;
  margin-left: 120px;
}

.book-now-button span {
  margin-left: 4px;
  margin-top: 6px;
}
.main-comp {
  width: 70%;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%,-50%);
  color: white;
}
.main-comp h1 {
  font-weight: 300;
  font-size: 60px;
  margin-bottom: 20px;
}
.main-comp p {
  margin: 0 180px 15px 180px;
}
.main-comp button {
  box-sizing: content-box;
  background-color: black;
  border-radius: 50px;
  color: white;
  border: none;
  padding: 7px 12px 7px 12px;
  font-size: 12px;
  
  
}

